/* ********* */
/* @FOOTER */
/* ********* */

footer{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 1rem;

    img{
        height: 50px;
    }
}
