/* ********* */
/* @HOME */
/* ********* */
body{
    background-color: #77c8ad;
    background-image: radial-gradient(circle, #d0e3d9, #bfdccd, #c1dbcf, #a0d0bd, #7bc7ad, #77c8ad, #77c8ad, #77c8ad, #77c8ad, #77c8ad);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
